n8n-workflows/00-system-health-check.json
{
  "name": "IA-Agents: System Health Check",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "health-check",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "h1e2a3l4-5t6h-7c8h-9e0c-k1a2b3c4d5e6",
      "name": "Health Check Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        240,
        300
      ],
      "webhookId": "health-check"
    },
    {
      "parameters": {
        "url": "http://localhost:8000/",
        "options": {}
      },
      "id": "a2p3i4c5-6h7e-8a9l-0t1h-c2h3e4c5k6a7",
      "name": "Check API Health",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        460,
        200
      ]
    },
    {
      "parameters": {
        "url": "http://localhost:11434/api/tags",
        "options": {}
      },
      "id": "o3l4l5a6-7m8a-9h0e-1a2l-t3h4c5h6e7c8",
      "name": "Check Ollama Health",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        460,
        400
      ]
    },
    {
      "parameters": {
        "url": "http://localhost:11434/api/generate",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"model\": \"llama3.1:8b\",\n  \"prompt\": \"System check\",\n  \"stream\": false,\n  \"options\": {\n    \"temperature\": 0.1\n  }\n}",
        "options": {
          "timeout": 10000
        }
      },
      "id": "t4e5s6t7-8a9i-0t1e-2s3t-a4i5s6y7s8t9",
      "name": "Test AI Response",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        680,
        300
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": {
          "status": "healthy",
          "timestamp": "={{ $now }}",
          "services": {
            "api": "={{ $('Check API Health').item.json }}",
            "ollama": "={{ $('Check Ollama Health').item.json }}",
            "ai_test": "={{ $('Test AI Response').item.json }}"
          },
          "message": "IA-Agents system is fully operational"
        }
      },
      "id": "r5e6s7p8-9o0n-1s2e-3h4e-a5l6t7h8c9h0",
      "name": "Health Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        900,
        300
      ]
    }
  ],
  "connections": {
    "Health Check Trigger": {
      "main": [
        [
          {
            "node": "Check API Health",
            "type": "main",
            "index": 0
          },
          {
            "node": "Check Ollama Health",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check API Health": {
      "main": [
        [
          {
            "node": "Test AI Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Ollama Health": {
      "main": [
        [
          {
            "node": "Test AI Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Test AI Response": {
      "main": [
        [
          {
            "node": "Health Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "99887766-5544-3322-1100-ffeeddccbbaa",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "id": "0",
  "tags": [
    {
      "id": "system-health",
      "name": "System Health"
    }
  ]
}
